#timer {
    float: right;
}

#viewHighScores {
    float: left;
}

.centered {
    text-align: center;
}

.purpleBtn {
    color: white;
    background-color: purple;
}

.hide {
    display: none;
}

#innerQuizDiv {
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
    text-align: left;
    width: 50%;
  }